body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/blackjack.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px black;
    margin:50px;

}

#message-el {
    font-style: italic;

}
 
button {
    color: #016F32;
    width:150px;
    height: 60px;
    background:#daa520;
    border:none;
    border-radius: 3px;
    margin:15px 0 0 0 ;
}
.blackjack-img{
    background-image: url("images/Blackjack.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:400px;
        
}
.bckd-bj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/cards.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    margin:2%;
    padding:5%;
}
.contrast{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin:100px 0 0 0;
    padding:25px;
    background-image: url("images/number-1.png");
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    width:1465px;
    height:300px;    
}
.btn{
    display: flex;
    flex-direction: column;
}

.btn-game{
    font-weight: bold;
    font-size: 1.2rem;
}